@import blueprint
+blueprint
body
  padding: 2em 0
  height: 100%
  background: #666 url(/images/bg.png) repeat scroll top left
  hr
    margin: 3em 0
    padding: 0
    border: 0 none
    border:
      top: 1px solid $dark
      bottom: 1px solid $light
  a, a:visited
    color: #0af
    text-shadow: 0 1px 0 #444
    cursor: pointer
    text-decoration: none
    white-space: nowrap
    &:hover
      color: #0af
      text-decoration: underline
    &:active
      color: #08d
      position: relative
      top: 1px
    &.thumbnail
      +rounded(.5em)
      background: #ddd
      margin: .5em 0 0 0
      text-shadow: 0 0 0 transparent
      padding: 20px
      text-align: center
      display: block
      cursor: pointer
      text-decoration: none
      &:hover
        text-decoration: none
        background: white
      &:active
        top: 0
        background: #ccc
      img
        +box-shadow(0, 0, 6px, $dark)
        border: 1px solid #888
  h1, h2, h3, h4, h5, h6
    img
      vertical-align: middle
  h1
    margin: 0 0 1em 0
    color: black
    text-shadow: 0 1px 0 #777
    font:
      size: 40px
      weight: 900
  h2
    font:
      size: 30px
    color: black
    text-shadow: 0 1px 0 rgba(255,255,255,.6)
  h3
    font:
      size: 18px
      weight: 900
    text-shadow: 0 -1px 0 #000
    margin: 1.5em 0 1em 0
    color: white
  h4
    color: white
    font:
      size: 1.25em
      weight: 100
    text-shadow: 0 -1px 0 $dark, 0 1px 0 $light
    a
      font:
        family: $blueprint_font_family
        size: .75em
        weight: 100
        style: italic
      text-shadow: 0 -1px 0 $dark, 0 1px 0 $light
      color: #111 !important
      &:hover
        color: white !important
  h6
    color: #111
    text-shadow: 0 1px 0 $light
    margin-bottom: 1em
    a
      color: #111 !important
      font-weight: normal
      text-shadow: 0 1px 0 $light !important
      &:hover
        color: #fff !important
        text-shadow: 0 -1px 0 $dark
  p
    font:
      size: 14px
    color: white
    -webkit-text-stroke: 1px transparent
    padding: 0
    text-shadow: 0 -1px 0 $dark
    &.alert
      +rounded(6px)
      +box-shadow(0, 1px, 0, $light)
      background-color: $dark
      padding: 1em
      margin: 1em 0
      text-align: center
      strong
        color: #fff
        font-size: 2em
  header
    +container
    display: block
    text-align: left
    #rsonrails_logo
      +span(13)
      +float-left
      margin-top: 48px
    #about_ruby_on_rails
      +span(11, last)
      +float-left
      margin-top: 48px
  section
    &#main
      +container
      .tweets_rsrails_wrapper
        +prepend(1)
        +span(10)
        +append(1)
        +float-left
      .tweets_about_wrapper
        +prepend(1)
        +span(10)
        +append(1)
        +float-left
        +last
    &.keynotes_list, &.cases_list, &.lightning_talks_list
      +span(24, last)
      +float-left
    &.follow_event, &.last_edition_home, &.sponsorship, &.who_we_are
      +span(15, last)
      +append(1)
      +float-left
    &.home
      +span(17, last)
      +append(1)
      +float-left
    &.last_edition_keynotes
      +span(15)
      +append(1)
      +float-left
    aside
      &.keynotes_schedule, &.follow_event_sidebar, &.last_edition_schedule, &.current_sponsors, &.rs_rails_group
        +span(8)
        +float-left
        +last
      &.home
        +span(6)
        +float-left
        +last
      p
        font:
          size: 12px
        color: white
        text-shadow: 0 -1px 0 $dark
  footer
    +container
    color: white
    display: block
    #sponsors, #supporters, #event_by
      img
        margin-bottom: 30px
        vertical-align: middle
    #sponsors
      +span(14)
      +float-left
      .sponsor_box
        +span(6)
        +float-left
        text-align: center
    #supporters
      +span(7)
      +float-left
    #event_by
      +span(3, last)
      +float-left
    #colophon
      color: #888
      text-shadow: #000 0 -1px 0
.alternate
  font:
    family: Baskerville, Palatino, 'Book Antiqua', serif
    style: italic
#photos
  text-align: center
  padding: 0 20px
  img
    display: block
    float: left
    margin: 0 40px 30px 0
    border: 5px solid white
    +box-shadow(0,0,.5em,black)
table.schedule
  +prepend-top
  margin: 0
  padding: 0
  border: 0 none
  tr
    &:hover
      th, td
        background: rgba(0,0,0,.1)
    th
      font:
        style: italic
        family: georgia, serif
      text-align: right
    th, td
      text-shadow: 0 1px 0 $dark
      padding: .5em
      color: white
      font-weight: 100
      border:
        top: 1px solid $light
        bottom: 1px solid $dark
      em
        text-shadow: 0 1px 0 $light
    &:first-child
      th, td
        border-top: 0 none
    &:last-child
      th, td
        border-bottom: 0 none
ul.keynotes
  list-style: none
  margin: 0
  padding: 0
  li
    margin: 0 0 8em 0
    padding: 0
    color: white
    text-shadow: 0 -1px 0 $dark
    .keynote_info
      +span(14, last)
      +append(1)
      +float-left
      h3
        color: #fff
        text-shadow: 0 -1px 0 #000
        margin: 0 0 1em 0
        padding: 0
        font:
          weight: 900
          size: 16px
      p
        padding: 0 0 0.5em 0
        margin: 0
        font:
          weight: normal
        color: #ddd
        text-shadow: 0 -1px 0 #000
        a
          text-shadow: 0 -1px 0 $dark
          color: #0099ff
          &:hover
            text-decoration: underline
            color: #0099ff
          &:active
            color: #0099ff - #222
            position: relative
            top: 1px
    .keynote_author
      +span(9)
      +float-left
      hr
        margin: 1em 0
      .wrapper
        padding: 12px
        +rounded(6px)
        background-color: #ddd
        color: #000
        text-shadow: 0 1px 0 #fff
        font:
          size: 1.25em
          weight: 900
          style: normal
        img.avatar
          +box-shadow(0,0,6px,#aaa)
          +rounded(4px)
          max-height: 48px
          max-width: 48px
          vertical-align: middle
          border: 3px solid white
          margin-right: .5em
          float: left
        p
          color: #000
          text:
            align: right
            shadow: #fff 0 1px 0
          float: right
          padding: 0
          margin: 0
          width: 140px
          overflow: hidden
          a
            display: block
            color: #0099ff
            width: 140px
            overflow: hidden
            text-shadow: #fff 0 1px 0
            text-overflow: ellipsis
        em
          font-style: normal
          font-weight: normal
          color: #666
        a.twitter
          +rounded(3px)
          color: #0099ff
          padding: 0.5em
          margin-top: 1em
          display: block
          background-color: #fff
          text-shadow: #fff 0 1px 0
          font:
            size: 14px
            weight: 900
          &:hover
            text-decoration: none
          &:active
            text-decoration: none
          img
            vertical-align: middle
            padding: 4px
    p.author_bio
      margin: .5em 0
      padding: 0 .5em
      font-size: 12px
      color: white
      text-shadow: 0 -1px 0 #000
  &.last_edition
    dt
      font-size: 18px
      .by_line
        +rounded(0px)
        padding: 0
        background-color: transparent
        color: #fff
        text-shadow: 0 0px 0 transparent
        font:
          size: 1em
          weight: 500
          style: normal
.slide_wrapper
  text-align: center
  .slide
    +rounded(.5em)
    +box-shadow(0,0,1em,rgba(0,0,0,1))
    width: 425px
    text-align: right
    background: #333
    padding: 1em 2em
    a
      font-weight: 900
      display: block
      margin: 12px 0 3px 0
      color: #ccc
      &:hover, &:active
        text-decoration: underline
        color: #fff
.centered
  text-align: center