%hr
#sponsors
  %h6 Patrocínios · #{link_to 'Saiba como patrocinar »', sponsorship_path}
  = render :partial => 'shared/sponsors'
  %br
#event_by
  %h6 Realização
  = link_to image_tag('gruporailsrs.png'), who_we_are_path, :title => 'Grupo RS on Rails'
.clear
= render :partial => 'shared/colophon'