%ul.speaker_twitter
  %li
    %a{ :href => 'http://www.twitter.com/pedroaxl', :target => :_blank  }
      = image_tag 'http://a1.twimg.com/profile_images/187672920/orkut_normal.jpg', :class => 'avatar'
      @pedroaxl
      %span.go= image_tag 'more.png'