%ol#sponsors_list
  %li
    %a{ :href => 'http://www.softa.com.br/', :target => :_blank }= image_tag 'sponsors/softa.png', :title => 'Softa · Aplicações web 2.0 com Ruby on Rails e PostgreSQL'
  %li
    %a{ :href => 'http://www.mailee.me/', :target => :_blank }= image_tag 'sponsors/mailee.png', :title => 'Mailee · Email Marketing 2.0'