- @body_id = "rsrails_tweets"
%section.follow_event
  %h4 #{image_tag('social/twitter_32.png')} Seguindo: #rsonrails, #rsrails, #railsrs, #railsbr
  .rsrails_tweets
%aside.follow_event_sidebar
  %h6 Patrocinadores
  = render :partial => 'shared/sponsors_list'