%section
  %h4
    = image_tag 'social/twitter_32.png', :style => 'vertical-align:middle;'
    Seguindo:
    %span.hash_tag #rsonrails
    %span.hash_tag #rsrails
    %span.hash_tag #railsrs
    %span.hash_tag #railsbr
  .rsrails_tweets
%aside
  %h6 Patrocinadores
  .prepend-top
    = render :partial => 'shared/sponsors_list'