%section
  %h1 Palestras confirmadas
  %h3 Técnicas
  %dl.keynotes
    %dt
      %h2.keynote_title
      %em.by_line Fábio Akita
      = image_tag 'http://a1.twimg.com/profile_images/483721382/4015270661_1d44744ac4_o_normal.jpg'
    %dd
      %p.about
        -# Algo sobre escalabilidade, Resque…
      .autor_resume
        %h6 Sobre o autor:
        %p
    %dt
      %h2.keynote_title
      %em.by_line Daniel Wildt [Grupo Guru-RS]
    %dd
      %p.about
        -# sobre Ruby no Google App Engine
      .autor_resume
        %h6 Sobre o autor:
        %p
    %dt
      %h2.keynote_title
      %em.by_line Tiago Bueno [ThoughtWorks]
      = image_tag 'http://a1.twimg.com/profile_images/555087560/me_normal.jpeg'
    %dd
      %p.about
        -# sobre Ruby no Google App Engine
      .autor_resume
        %h6 Sobre o autor:
        %p
    %dt
      %h2.keynote_title
      %em.by_line Carlos Antonio [Plataforma Tec]
    %dd
      %p.about
        -# sobre Ruby no Google App Engine
      .autor_resume
        %h6 Sobre o autor:
        %p
  %hr
  %h3 Cases
  %dt.keynotes
    %dt
      %h2.keynote_title
      %em.by_line TRE-RS
    %dd
      %a{:href=> 'http://www.tre-rs.gov.br/', :target => :_blank} http://www.tre-rs.gov.br/
    %dt
      %h2.keynote_title
      %em.by_line Tá Tri Imóveis
    %dd
      %a{:href=> 'http://imoveis.tatri.com.br/', :target => :_blank} imoveis.tatri.com.br
%aside
  %h6 Horários
  %hr