- @body_id = "signup"
%section.signup
  %h1 Inscrições esgotadas
  %p As vagas para o RS on Rails 2010 estão esgotadas.
  %p Se você não conseguiu se inscrever entre em contato com o #{mail_to 'cabral@softa.com.br', 'Cabral'}. Ele estará monitorando possíveis desistências ou, no caso de muitos interessados, a alteração do local do evento para possibilitar novas inscrições.
.clear