- @body_id = "sponsorship"
%section.sponsorship
  %h1 Patrocínio
  %p Se sua empresa tem interesse em patrocinar o segundo RS on Rails envie um email para #{mail_to 'contato@rsrails.com.br'}.
%aside.current_sponsors
  %h6 Patrocinadores
  = render :partial => 'shared/sponsors_list'
.clear