%section
  %h1 Patrocínio
  %p Se sua empresa tem interesse em patrocinar o segundo RS on Rails envie um email para #{mail_to 'contato@rsrails.com.br'}.
%aside
  %h6 Patrocinadores
  .prepend-top= render :partial => 'shared/sponsors_list'
.clear