%table.schedule{ :colspan => 0 }
  %tr.start
    %th 07h45
    %td ·
    %td Recepção e Credenciamento
  %tr
    %th 08h
    %td ·
    %td
      Introdu&ccedil;&atilde;o a Ruby on Rails
      %br
      %em.loud com Juan Maiz Lulkin Flores da Cunha
  %tr
    %th 09h
    %td ·
    %td
      CouchDB vs Postgres em Rails
      %br
      %em.loud com Diogo Biazus &amp; Johalf Farina
  %tr.break
    %th 10h
    %td ·
    %td Coffee Break
  %tr
    %th 10h20
    %td ·
    %td
      Otimizando aplicações em Rails
      %br
      %em.loud com Pedro Axelrud &amp; Juan Maiz Lulkin Flores da Cunha
  %tr
    %th 12h
    %td ·
    %td Horário de Almoço
  %tr
    %th 13h30
    %td ·
    %td
      Câmara Municipal nos Trilhos
      %br
      %em.loud com Márcia Almeida &amp; Henrique Testa
  %tr
    %th 15h
    %td ·
    %td
      Reutilização de código em aplicações Rails: Plugins, Gem e Engines
      %br
      %em.loud com Rodrigo Urubatan Ferreira Jardim
  %tr.break
    %th 16h20
    %td ·
    %td Coffee Break
  %tr
    %th 16h40
    %td ·
    %td
      TDD no Rails: Ferramentas, técnicas e experiências
      %br
      %em.loud com Jony dos Santos Kostetzer
  %tr
    %th 18h10
    %td ·
    %td
      Segurança em Ruby on Rails
      %br
      %em.loud com Marcelo Castellani
  %tr
    %th 19h30
    %td ·
    %td Mesa Redonda
  %tr.end
    %th 20h30
    %td ·
    %td Happy Hour