%section
  %h1 RS on Rails · 1ª Edição
  %br
  = image_tag 'rsrails-01.jpg', :style => 'height:170px; float:left; margin-right:2em;'
  %p O primeiro RS on Rails foi realizado em 29 de agosto de 2009 e contou com a participação de aproximadamente 80 pessoas.
  .clear
  %hr
  %h2 Palestras
  %dl
    %dt Introdução a Ruby on Rails
    %dd por Juan Maiz Lulkin Flores da Cunha
    %dt CouchDB &times; Postgres em Rails
    %dd por Diogo Biazus &amp; Johalf Farina
    %dt Otimizando aplicações em Rails
    %dd por Pedro Axelrud &amp; Juan Maiz Lulkin Flores da Cunha
    %dt Câmara Municipal nos Trilhos
    %dd por Márcia Almeida &amp; Henrique Testa
    %dt Reutilização de código em aplicações Rails: Plugins, Gem e Engines
    %dd por Rodrigo Urubatan Ferreira Jardim
    %dt TDD no Rails: Ferramentas, técnicas e experiências
    %dd por Jony dos Santos Kostetzer
    %dt Segurança em Ruby on Rails
    %dd por Marcelo Castellani
%aside
  %h6 Programa
  = render :partial => 'schedule'
.clear