- @body_id = "last_edition_home"
%section.last_edition_home
  %h1 RS on Rails · 1ª Edição
  %br
  = image_tag 'rsrails-01.jpg', :style => 'height:170px; float:left; margin-right:2em;'
  %p O primeiro RS on Rails foi realizado em 29 de agosto de 2009 e contou com a participação de aproximadamente 80 pessoas.
  .clear
%aside.last_edition_schedule
  %h6 Programa
  = render :partial => 'schedule'
.clear