- @body_id = "last_edition_keynotes"
%section.last_edition_keynotes
  %h1 Palestras
  %dl.keynotes.last_edition
    %dt
      %h3
        Introdução a Ruby on Rails
        %em.by_line por Juan Maiz Lulkin Flores da Cunha
    %dd
      %p.about Uma visão geral do que é, para que serve, da filosofia e da história do Ruby on Rails, introduzindo o assunto para o público que ainda não teve contato a tecnologia.
      %h6 Sobre o autor:
      %p.autor_resume Juan Maiz, ao lado de uns 20 gatos pingados, assistiu a palestra de DHH no FISL em 2005. De lá pra cá, vem evangelizando e dando cursos de Rails e implementando soluções e produtos em sua empresa, a Softa.
    .slide_wrapper
      #__ss_1932531.slide
        %a{ :href => 'http://www.slideshare.net/rsonrails/introduo-ao-ruby-on-rails-1932531', :title => 'Introdu\303\247\303\243o ao Ruby on Rails' } Introdução ao Ruby on Rails &raquo;
        %object{ :height => '355', :style => 'margin:0px', :width => '425' }
          %param{ :name => 'movie', :value => 'http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=ror-090831121100-phpapp02&stripped_title=introduo-ao-ruby-on-rails-1932531' }
          %param{ :name => 'allowFullScreen', :value => 'true' }
          %param{ :name => 'allowScriptAccess', :value => 'always' }
          %embed{ :src => 'http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=ror-090831121100-phpapp02&stripped_title=introduo-ao-ruby-on-rails-1932531', :allowfullscreen => 'true', :type => 'application/x-shockwave-flash', :allowscriptaccess => 'always', :height => '355', :width => '425' }
    %hr
    %dt
      %h3
        CouchDB vs Postgres em Rails
        %em.by_line por Diogo Biazus & Johalf Farina
    %dd
      %p.about Diferenças entre o SGBDs PostgreSQL e CouchDB, ressaltando as diferenças conceituais e apresentando comparativos de performance.
      %h6 Sobre o autor:
      %p.autor_resume Diogo Biazus é sócio fundador da Softa Consultoria onde trabalha com desenvolvimento de aplicações web, trabalha também como instrutor e consultor de PostgreSQL na TargetTrust em Porto Alegre. É formado em ciência da computação pela UFRGS.
    .slide_wrapper
      #__ss_1953212.slide
        %a{ :href => 'http://www.slideshare.net/rsonrails/palestra-diogo-e-johalf', :title => 'CouchDB vs Postgres em Rails' } CouchDB vs Postgres em Rails &raquo;
        %object{ :height => '355', :style => 'margin:0px', :width => '425' }
          %param{ :name => 'movie', :value => 'http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=palestradiogoejohalf-090904144214-phpapp02&stripped_title=palestra-diogo-e-johalf' }
          %param{ :name => 'allowFullScreen', :value => 'true' }
          %param{ :name => 'allowScriptAccess', :value => 'always' }
          %embed{ :src => 'http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=palestradiogoejohalf-090904144214-phpapp02&stripped_title=palestra-diogo-e-johalf', :allowfullscreen => 'true', :type => 'application/x-shockwave-flash', :allowscriptaccess => 'always', :height => '355', :width => '425' }
    %hr
    %dt
      %h3
        Otimizando aplicações em Rails
        %em.by_line por Pedro Axelrud & Juan Maiz Lulkin Flores da Cunha
    %dd
      %p.about Métodos para otimizar aplicações em Rails.
      %h6 Sobre o autor:
      %p.autor_resume Pedro Axelrud estuda Engenharia da Computação na UFRGS e trabalha com desenvolvimento web na Softa. #{ link_to 'Confira a entrevista na ZH »', 'http://zerohora.clicrbs.com.br/zerohora/jsp/default2.jsp?uf=1&local=1&source=a2794294.xml&template=3898.dwt&edition=14014&section=1033', :target => :_blank }
    .slide_wrapper
      #__ss_1953218.slide
        %a{ :href => 'http://www.slideshare.net/rsonrails/palestra-maiz-e-pedro', :title => 'Otimizando Aplica\303\247\303\265es em Rails' } Otimizando Aplicações em Rails &raquo;
        %object{ :height => '355', :style => 'margin:0px', :width => '425' }
          %param{ :name => 'movie', :value => 'http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=palestramaizepedro-090904144446-phpapp01&stripped_title=palestra-maiz-e-pedro' }
          %param{ :name => 'allowFullScreen', :value => 'true' }
          %param{ :name => 'allowScriptAccess', :value => 'always' }
          %embed{ :src => 'http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=palestramaizepedro-090904144446-phpapp01&stripped_title=palestra-maiz-e-pedro', :allowfullscreen => 'true', :type => 'application/x-shockwave-flash', :allowscriptaccess => 'always', :height => '355', :width => '425' }
    %hr
    %dt
      %h3
        <abbr title='Test-Driven Development'>TDD</abbr> no Rails: Ferramentas, técnicas e experiências
        %em.by_line por Jony dos Santos Kostetzer
    %dd
      %p.about Testes de aplicações Rails, demonstrando o uso de bibliotecas como RSpec e Cucumber, bem como técnicas e conceitos relacionados a Test-Driven Development.
      %h6 Sobre o autor:
      %p.autor_resume Desenvolvedor de aplicações web há 8 anos, atualmente trabalhando como Rails Developer na startup norte-americana Pixily. Instrutor da formação Ruby on Rails no Instituto de Informática Unisinos e consultor independente em projetos web.
    .slide_wrapper
      #__ss_1926858.slide
        %a{ :href => 'http://www.slideshare.net/jonysk/behaviourdriven-development-com-ruby', :title => 'Behaviour-Driven Development com Ruby' } Behaviour-Driven Development com Ruby &raquo;
        %object{ :height => '355', :style => 'margin:0px', :width => '425' }
          %param{ :name => 'movie', :value => 'http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=bdd-090830110212-phpapp01&stripped_title=behaviourdriven-development-com-ruby' }
          %param{ :name => 'allowFullScreen', :value => 'true' }
          %param{ :name => 'allowScriptAccess', :value => 'always' }
          %embed{ :src => 'http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=bdd-090830110212-phpapp01&stripped_title=behaviourdriven-development-com-ruby', :allowfullscreen => 'true', :type => 'application/x-shockwave-flash', :allowscriptaccess => 'always', :height => '355', :width => '425' }
    %hr
    %dt
      %h3
        Segurança em Ruby on Rails
        %em.by_line por Marcelo Castellani
    %dd
      %p.about As mais comuns falhas de segurança cometidas por desenvolvedores em projetos Ruby on Rails, e como as evitar.
      %h6 Sobre o autor:
      %p.autor_resume Marcelo Castellani é diretor de novas tecnologias da mindaslab, onde realiza treinamento e desenvolvimento de projetos com Ruby e Rails. Um dos fundadores do grupo de usuários de Ruby de São Paulo, idealizou e organizou o evento 'Ruby + Rails no mundo Real 2009'. Desde 2005 torna sua vida mais simples com Ruby, tendo participado de diversos projetos nacionais e internacionais.
    .slide_wrapper
      #__ss_1953253.slide
        %a{ :href => 'http://www.slideshare.net/rsonrails/palestra-de-marcello-castellani', :title => 'Seguran\303\247a em Rails' } Segurança em Rails &raquo;
        %object{ :height => '355', :style => 'margin:0px', :width => '425' }
          %param{ :name => 'movie', :value => 'http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=seguranaemrails-090904145252-phpapp02&stripped_title=palestra-de-marcello-castellani' }
          %param{ :name => 'allowFullScreen', :value => 'true' }
          %param{ :name => 'allowScriptAccess', :value => 'always' }
          %embed{ :src => 'http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=seguranaemrails-090904145252-phpapp02&stripped_title=palestra-de-marcello-castellani', :allowfullscreen => 'true', :type => 'application/x-shockwave-flash', :allowscriptaccess => 'always', :height => '355', :width => '425' }
    %hr
    %dt
      %h3
        Câmara Municipal nos Trilhos
        %em.by_line por Márcia Almeida & Henrique Testa
    %dd
      %p.about Trajetória do desenvolvimento de software da área de TI da Câmara Municipal de Porto Alegre [CMPA] e sua busca por tecnologias e metodologias mais produtivas e adequadas para uma pequena equipe com recursos limitados. A CMPA conta com mais de duas dezenas de aplicações desenvolvidas in-house e recebe visitas de inúmeros legislativos brasileiros interessados em seus sistemas.
      %h6 Sobre os autores:
      %p.autor_resume Márcia Almeida, formada em Ciência da Computação na UFRGS, é coordenadora do departamento de TI da Câmara Municipal de Porto Alegre, onde procura promover metodologias ágeis no desenvolvimento dos sistemas. Ela também ministrou dezenas de cursos e palestras na área de engenharia de software, metodologias de desenvolvimento e linguagens de programação.
      %p.autor_resume Henrique G. Testa é desenvolvedor Web há aproximadamente 10 anos pela Caracol Tecnologia, inicialmente programando em Java e posteriormente em Ruby / Ruby on Rails. Também ministrou dezenas de cursos e palestras sobre Web Standards e Ruby on Rails, e atuou como consultor e colaborador dos sistemas existentes na Câmara Municipal de Porto Alegre.
    .slide_wrapper
      #__ss_1953237.slide
        %a{ :href => 'http://www.slideshare.net/rsonrails/palestra-marcia-e-henrique', :title => 'C\303\242mara Municipal nos Trilhos' } Câmara Municipal nos Trilhos &raquo;
        %object{ :height => '355', :style => 'margin:0px', :width => '425' }
          %param{ :name => 'movie', :value => 'http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=palestramarciaehenrique-090904144935-phpapp02&stripped_title=palestra-marcia-e-henrique' }
          %param{ :name => 'allowFullScreen', :value => 'true' }
          %param{ :name => 'allowScriptAccess', :value => 'always' }
          %embed{ :src => 'http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=palestramarciaehenrique-090904144935-phpapp02&stripped_title=palestra-marcia-e-henrique', :allowfullscreen => 'true', :type => 'application/x-shockwave-flash', :allowscriptaccess => 'always', :height => '355', :width => '425' }
    %hr
    %dt
      %h3
        Reutilização de código em aplicações Rails: Plugins, Gem e Engines
        %em.by_line por Rodrigo Urubatan Ferreira Jardim
    %dd
      %p.about Apresentação dos recursos disponibilizados pelo Ruby On Rails para reutilização de código em aplicações diversas. Empacotando o código reutilizável para distribuição dentro da empresa ou como código open source.
      %h6 Sobre o autor:
      %p.autor_resume Trabalha com desenvolvimento de software desde 1997. Desenvolveu sistemas em diversas linguagens, como Delphi, C, C++, PHP, ASP, ColdFusion, Assembly, Leather, Java e Ruby. Atualmente, trabalha com pesquisa e desenvolvimento na HP, utilizando principalmente Java, e com Ruby em outros projetos e cursos. É autor do livro 'Ruby On Rails: Desenvolvimento fácil e Rápido de aplicações web'.
    .slide_wrapper
      #__ss_1953242.slide
        %a{ :href => 'http://www.slideshare.net/rsonrails/palestra-rodrigo-urubatan', :title => 'Reutiliza\303\247\303\243o de c\303\263digo em aplica\303\247\303\265es Rails: Plugins, Gem e Engines' } Reutilização de código em aplicações Rails: Plugins, Gem e Engines &raquo;
        %object{ :height => '355', :style => 'margin:0px', :width => '425' }
          %param{ :name => 'movie', :value => 'http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=reusodecdigocomrails-090904145118-phpapp02&stripped_title=palestra-rodrigo-urubatan' }
          %param{ :name => 'allowFullScreen', :value => 'true' }
          %param{ :name => 'allowScriptAccess', :value => 'always' }
          %embed{ :src => 'http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=reusodecdigocomrails-090904145118-phpapp02&stripped_title=palestra-rodrigo-urubatan', :allowfullscreen => 'true', :type => 'application/x-shockwave-flash', :allowscriptaccess => 'always', :height => '355', :width => '425' }
%aside.last_edition_schedule
  %h6 Programa
  = render :partial => 'schedule'
.clear